.footer {
  background: #000;
}
.footer a{
text-decoration: none;
color: #000;
}

.footer-container {
  max-width: 1200px;
  padding: 80px 20px 60px 20px;
  display: flex;
  align-items: center;
 }

.footer-texto {
  font-size: 1.5rem;
  line-height: 1.33;
  color: #ccc;
}

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  margin-left: 20px;
  padding-bottom: 20px;
}


@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}