.footer {
  background: #000;
}

.footer a{
  text-decoration: none;
  color: #000;
  position: relative;
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  position: relative;
 }

.footer-copy {
  grid-column: 1 / -1;
  font-size: 1.125rem;
  color: #8f8f8f;
  gap: 500px;
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0 auto;
}


@media (max-width: 800px) {
  .footer-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
}